.avatar {
  width: 49px;
  height: 49px;
  border-radius: 50%;
}

.avatar > img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.chatItem {
  padding: 0 15px;
  height: 72px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.chatItem:hover {
  background-color: rgba(209, 215, 219, 8%);
}

.chatItem[data-active="true"] {
  background-color: rgba(209, 215, 219, 10%);
  border-bottom: none;
}

.detalhes_mensagens {
  display: flex;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(209, 215, 219, 10%);
  align-items: center;
}

.nome_e_mensagem {
  flex: 1;
  margin-left: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nome_e_mensagem > b {
  font-weight: 400;
  font-size: 1, 0625rem;
  color: #e9edef;
}

.nome_e_mensagem p {
  font-size: 0.875rem;
  color: #d1d7db;
}

.detalhes_direita {
  color: #fff;
}

.notificacoes {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}
.notificacoes span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #00a884;
  font-size: 12px;
  padding: 5px;
  color: #000;
  margin: 0;
}

.hora {
  color: #00a884;
}
